.word {
    border: 10px solid black;
    border-radius: 15px;
    padding: 30px;
    font-size: 900%;
    margin: 50px;
}

.buttonBox {
    display: flex;
    justify-content: center;
}
.screen {
    margin: 0;
    display: flex;
    justify-content: center;
}

.buttonYES {
    margin: 50px;
    padding: 50px 120px;
    border-radius: 8px;
    
}
.buttonNO {
    margin: 50px;
    padding: 50px 120px;
    border-radius: 8px;
}

.text {
    display: flex;
    justify-content: center;
}
